body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #883236!important;
}

#header {
    display: flex;
    justify-content: flex-start;
    height: 150px;
}

#header-left {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 30px 0 -30px;
}

#header-left a {
    text-align: center;
}

#tft-img {
    width: 80%;
    height: 60%;
}

#header-main {
    display: flex;
    justify-content: flex-start;
    width: 55%;
    align-items: center;
}

#loupe {
    width: 10%;
    height: 20%;
    margin-right: -15px;
    cursor: pointer;
}

#search-bar {
    height: 20%;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
}

#inputfile {
    z-index: 2;
    position: absolute;
    height: 30%;
    opacity: 0;
    width: 23%;
}

#header-right {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

#upload {
    width: 58px;
    height: 30%;
    border-radius: 50%;
    background-color: lightgray;
    border-width: 0;
    margin-right: 20px;
}

#file-img {
    height: 70%;
}


#navbar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    border-width: 0 0 1px;
    border-color: #000;
    border-style: solid;
}

.nav-items {
    font-size: 20px;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: #dadada;
    cursor: pointer;
    width: 33.3%;
    border-width: 0 1px;
    border-color: #000;
    border-style: solid;
}

.nav-items:hover {
    background-color: #f36565;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: #561111;
    text-decoration: none;
    color: #dadada;
}

.button {
    border-radius: 50%!important;
    width: 58px;
    height: 58px;
    padding-left: 8px!important;
    background-color: lightgray!important;
    margin: 0 20px;
}

.dropdown-menu {
    background-color: lightgray!important;
}

#settings-icon, #user-icon {
    width: 35px;
}

#first-line {
    border-width: 1px;
    border-color: #000;
    border-style: none none solid;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

#first-line a {
    padding-left: 5px;
}

#settings {
    width: 25px;
}

#inside {
    margin-top: 20px;
}

#first-body {
    height: 500px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#moving-img {
    height: 100%;
    width: 75%;
    margin-left: 35px;
    position: relative;
    margin-right: -30px;
}

#big-img {
    height: 350px;
    width: 91.97%;
    cursor: pointer;
}

#link-youtube {
    height: 350px;
    width: 91.97%;
    position: absolute;
    top: 0;
    left: 0;
}

#underling {
    background-color: #000;
    width: 92.1%;
    height: 28%;
    margin-top: -10px;
    display: flex;
    justify-content: space-evenly;
}

#underling a {
    width: 20%;
}

#underling img {
    width: 98%;
    margin-top: 25px;
    cursor: pointer;
}

#underling img:hover {
    border: 1px solid #e74c3c;
}

#moving-singer {
    width: 20%;
    height: 85%;
    background-color: #fff;
}

#core-img {
    width: 100%;
    height: 70%;
}

#moving-singer p {
    margin: 3px 0 10px;
    text-align: center;
}

#singer-img img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

#singer-img {
    width: 100%;
    height: 31%;
    background-color: #dadada;
    display: flex;
    flex-direction: column;
}

#line1, #line2 {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#second-body {
    margin-top: 25px;
    height: 700px;
}

#first-half {
    width: 70%;
    margin-left: 35px;
}

.line {
    margin-bottom: 10px;
    cursor: pointer;
}

.img-line {
    display: flex;
    justify-content: space-evenly;
}

.line-items {
    width: 20%;
}

.line-items img {
    width: 95%;
}

.line-items p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    width: 95%;
    text-align: justify;
}

.line-items a {
    text-decoration: none!important;
}

#footer {
    display: flex;
    justify-content: flex-start;
    background-color: #f5f5f5;
    margin-top: 30px;
}

#footer p {
    font-size: 25px;
    font-weight: bold;
}

#support, #other, #keyword {
    width: 33.3%;
}

.divide {
    display: flex;
    justify-content: flex-start;
}

.even {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#footer a {
    text-decoration: none;
    color: #00000080;
}

#footer a:hover {
    color: #2daaed;
}

#keyword img {
    height: 30px;
    width: 20%;
    margin-left: -20px;
}